<!DOCTYPE html>
 <html>
   <head>
     <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
   </head>
   <body>
     <h1>Thank you for signing up</h1>
     <p>
       <%= link_to "Welcome to Blocmetrics", root_url %>
     </p>
   </body>
 </html>